{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="{% static "kejas/materialize/css/materialize.css" %}">
<link rel="stylesheet" href="{% static "kejas/materialize/css/materialize.min.css" %}">
<link href="{% static 'kejas/materialize/js/materialize.js' %}" rel="stylesheet">
<link href="{% static 'kejas/materialize/js/materialize.min.js' %}" rel="stylesheet">
<link href="{% static 'kejas/w3.css' %}" rel="stylesheet">
</head>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">keja.com</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
            <li> <a href="#">Properties</a></li>
            <li> <a href="#">News</a></li>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Contact us</a></li>
            <li> <a href="#">Blog</a></li>
            <li> <a href="{% url 'addkeja'%} ">New keja</a></li>
            
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}
<div class="w3-container w3-light-grey">
  <h1 class="w3-jumbo">This is the comments and testimonials section</h1>
  <p class="w3-xxlarge">Our partners</p>
</div>

<footer class="w3-container w3-deep-orange">
  <h5>keja.com</h5>
  <p>lets us take care of your needs</p>

</footer>



{% comment %} <div class = "card-panel teal lighten-2">
<h1> hellow and welcome to keja.com. free advert of your site at not cost. help somebody get a house </h1>
</div>
<h2 class="subheader"> keja.com </h2>
<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
<h2 class="footer-copyright"> hg </h2>
<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li> {% endcomment %}

{% comment %} <nav> <!-- navbar content here  -->fff </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> {% endcomment %}